@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tremor-brand-faint: #eff6ff;
  --tremor-brand-muted: #bfdbfe;
  --tremor-brand-subtle: #60a5fa;
  --tremor-brand-default: #3b82f6;
  --tremor-brand-emphasis: #1d4ed8;
  --tremor-brand-inverted: #ffffff;
  --tremor-background-muted: #f9fafb;
  --tremor-background-subtle: #f3f4f6;
  --tremor-background-default: #ffffff;
  --tremor-background-emphasis: #374151;
  --tremor-border-default: #e5e7eb;
  --tremor-ring-default: #e5e7eb;
  --tremor-content-subtle: #9ca3af;
  --tremor-content-default: #6b7280;
  --tremor-content-emphasis: #374151;
  --tremor-content-strong: #111827;
  --tremor-content-inverted: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
}
